
.buttonInner{
    position: absolute;
    background-color: tomato;
    left:2px;
    top:2px;
    right:2px;
    bottom:2px;
    border-radius: 13px;
 }
 .buttonOuter 
 {
    display: inline-block;    
    position: relative;
    width:116px;
    height:114px;
    margin:8px;
    border-radius: 15px;
    color:white;
    vertical-align: bottom;
    cursor: hand;
    box-sizing: border-box; 
    text-align: center;
    padding-top:20px;
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75); 
    border:none;
    background: linear-gradient(to bottom, #a8a8a8 0%,#455da8 100%);
}

 .selectedButton{
    background: linear-gradient(to bottom, #ffd900 0%,#00a868 100%);
 }
 .selectedButton div:after{
    content: '';
    position: absolute;
    border-radius: 13px;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(to bottom, #eeff0067 0%,#5f700000 100%);
 }

 .buttonTextGradient{
    display: inline;
    background: linear-gradient(to bottom, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); 
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;      
    filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 1.0));    
    font-size: 24px;
    line-height: 20px;
}
.buttonTextGradientSelected{
    display: inline;
    background: linear-gradient(to bottom, #f8ffe8 0%,#ffffff 33%,#c8ff00 100%); 
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;      
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 1.0));     
    font-size: 24px;
    line-height: 20px;
}

.sun{
    background-image: url("../img/buttons/icon_sun.jpg");
}
.mercury{
    background-image: url("../img/buttons/icon_mercury.jpg");
}
.venus{
    background-image: url("../img/buttons/icon_venus.jpg");
}
.earth{
    background-image: url("../img/buttons/icon_earth.jpg");
}
.mars{
    background-image: url("../img/buttons/icon_mars.jpg");
}
.jupiter{
    background-image: url("../img/buttons/icon_jupiter.jpg");
}
.saturn{
    background-image: url("../img/buttons/icon_saturn.jpg");
}
.uranus{
    background-image: url("../img/buttons/icon_uranus.jpg");
}
.neptune{
    background-image: url("../img/buttons/icon_neptune.jpg");
}
.all{
    background-image: url("../img/buttons/icon_solar.jpg");
}
