@font-face {
    font-family: "customFont";
    src: url("../fonts/font.ttf");
}
body{
    font-family: "customFont";
    user-select: none;
}
.frame{
    display:block;
    width: 1280px;
    height: 800px;
    position: absolute;
    top:0;
    left:0;
    visibility: visible;
    pointer-events: none;
}
.buttonsFrame{
    display:block;
    pointer-events: auto;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:130px;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    text-align: center;
}

.devTools{
    display:block;
    position: absolute;
    top:50px;
    right:10px;
    width:224px;
    height:400px;
    border: solid 2px red;
    background-color: rgba(0, 0, 0, 0.452);
}
.checkbox{
    pointer-events: auto;
    display:block;
    position: relative;
    width:200px;
    height:25px;
    line-height: 25px;
    color:gray;
    text-align: center;
    background-color: rgba(0, 0, 100, 0.5);
    border: solid 2px darkblue;
    border-radius: 5px;
    margin:10px;
}
.checkboxActive{
    background-color: rgba(0, 200, 0, 0.5);
    border: solid 2px darkgreen;
    color:yellow;
}